<!--<div *ngIf="apiResult; else nopoline">-->
    <h1 class="bold" *ngIf="resourceMetadata.title">{{ resourceMetadata.title }}</h1>
    <section>
        <button mat-raised-button color="primary" (click)="showConfig()">{{'i18n.back'|translate}}</button>
        <mat-card class="example-card" >
            <mat-card-header>
                <mat-card-title>{{'i18n.UpdatePoLine'|translate}}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-form-field class="poline-form" style="line-height: 35px;width: 100%">
                    <mat-label>{{'i18n.owns'|translate}}</mat-label>
                    <input matInput placeholder="" [(ngModel)]="ownsValues">
                </mat-form-field>
                <mat-form-field class="poline-form" style="line-height: 35px;width: 100%">
                    <mat-label>{{'i18n.librarys'|translate}}</mat-label>
                    <input matInput placeholder="" [(ngModel)]="ownsDesc">
                </mat-form-field>
                <mat-form-field class="poline-form" style="line-height: 35px;width: 100%">
                    <mat-label >{{'i18n.Currency'|translate}}</mat-label>
                    <mat-select placeholder="" class="mat-no-underline" disableOptionCentering name="currency" [(ngModel)]="poLineInfo.currency">
                        <mat-option *ngFor="let currency of currencyCode" [value]="currency.value" [title]="currency.desc"> {{currency.value}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="poline-form" style="line-height: 35px;width: 100%">
                    <mat-label >{{'i18n.Fund'|translate}}</mat-label>
                    <mat-select placeholder="" class="mat-no-underline" disableOptionCentering  name="fund" [(ngModel)]="poLineInfo.fund">
                        <mat-option *ngFor="let fund of funds" [value]="fund.code" [title]="fund.name"> {{fund.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="poline-form" style="line-height: 35px;width: 100%">
                    <mat-label >{{'i18n.Vendor'|translate}}</mat-label>
                    <mat-select placeholder="" class="mat-no-underline" disableOptionCentering name="vendor" [(ngModel)]="poLineInfo.vendor">
                        <mat-option *ngFor="let vendor of vendors" [value]="vendor.code" [title]="vendor.name"> {{vendor.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="poline-form" style="line-height: 35px;width: 100%">
                    <mat-label>{{'i18n.notes'|translate}}</mat-label>
                    <input matInput placeholder="" [(ngModel)]="noteValues">
                </mat-form-field>
            </mat-card-content>
            <button mat-flat-button type="button" color="primary" (click)="update(infolist)" [disabled]="loading && funds.length>0 && vendors.length>0">{{'i18n.createbt'|translate}}</button>
            <!--<div class="desc">{{'i18n.UpdateDesc'|translate}}</div>-->
        </mat-card>
    </section>
<!--</div>-->

<!--<ng-template #nopoline>-->
    <!--<section>-->
        <!--<h1 class="tip">{{'i18n.NoPoLineTip'|translate}}</h1>-->
        <!--<button mat-raised-button color="primary" (click)="showConfig()">Back</button>-->
    <!--</section>-->
<!--</ng-template>-->
<div class="loading-shade" *ngIf="loading">
    <mat-spinner diameter="50"></mat-spinner>
</div>
