<ng-container >
  <section>
    <h1>
      {{'i18n.tip'|translate}}
    </h1>
  </section>
  <div class="list-box">

  </div>

</ng-container>

<section>
  <button style="margin-right: 10px" mat-raised-button color="primary" (click)="setSettings(true)"
  >{{'i18n.Update'|translate}}</button>
  <!--[disabled]="!hasApiResult || loading"   [disabled]="!hasApiResult || loading"-->
  <button mat-raised-button color="primary" (click)="setSettings(false)"
  >{{'i18n.Rebuild'|translate}}</button>
</section>

<div class="loading-shade" *ngIf="loading">
  <mat-spinner diameter="50"></mat-spinner>
</div>

