section>h1 {
  padding: 5px 10px;
  border-radius: 4px;
  margin-top: 10px;
}

textarea {
  padding: 2px;
  border-width: 1px;
  $width: calc(100% - 6px);
  width: $width;
  max-width: $width;
  height: 180px;
  font-family: monospace;
  display: block;
}

textarea,
section {
  margin-bottom: 10px;
}

pre {
  overflow: auto;
  max-height: 200px;
}

pre,
textarea {
  font-size: 0.9em;
}

.booklist{
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  margin-top: 20px;
}

.item-info{
  display: flex;
  align-items: center;
  flex: 0 0 50%;
  -ms-flex-direction: column;
  flex-direction: column;
}

.item-info-large{
  display: flex;
  align-items: center;
  flex: 0 0 12%;
  -ms-flex-direction: column;
  flex-direction: column;
}

.book-info-img {
  width:138px;
}

.imgBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 138px;
  height:184px;
  overflow: hidden;
  border: 1px solid #dcdee2;
  position: relative;

  img {
    max-height: 138px;
    width: auto;
    max-width: 138px
  }

}

.booktitle{
  padding: 10px;
}

.author{
  padding: 10px;
}

.drop-select{
  outline:none;
  border: #FFFFFF;
}

.search-input{
  width: 300px;
  outline:none;
  border: #FFFFFF;
}

.flexBoxStartTopWrap{
  display: flex;
  justify-content: flex-start;
  box-sizing: content-box;
}

.list-nav-group{
    flex: 1;
}

.search-list-group{
  margin-left: 20px;
  flex:6;
}

.list-nav-group-inside{
  margin-top: 20px;
}

.latest-title-box{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  position: relative;
  height: 50px;
  padding: 20px;
  box-sizing: border-box;
  background: #1A5E1F;

}

.zh-title{

}

.publish-item{
  padding: 10px 20px;
}

.publish-item-active{
  padding: 10px 20px;

}

.list{
  background: #ffffff;
  border: 1px solid #DEDEE0;
}

.search-tips{
  flex: 1;
}

.flexBoxStartTop{
  display: flex;
  justify-content: space-between;
  box-sizing: content-box;
}


