.bookinfo-content{
  margin-top: 10px;
}

.book-info {
  background: #FFFFFF;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.book-info-img {
  width:138px;
}

.imgBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 138px;
  height:184px;
  overflow: hidden;
  border: 1px solid #dcdee2;
  position: relative;

  img {
    max-height: 138px;
    width: auto;
    max-width: 138px
  }

}

.book-info-right {
  flex: 1;
  padding: 0 0 0 30px;
}

.book-info-title {
  color: #333333;
  font-size: 14px;
  line-height: 30px;
  margin-bottom:10px;
  text-align: left;
}

.bookInfoList {
  line-height:25px;
  color: #999999;
  font-size: 14px;
}

.content {
  line-height:20px
}

.book-longer-info {
  margin-top: 20px;
  background: #FFFFFF;
  margin-bottom: 20px;
}

.tabs-box{
  display: flex;
}

.tab{
  flex:1;
  display: flex;
  justify-content: center;
  color: #666666;
  border-bottom: 1px solid #DBDBDB;
  padding: 10px 0;
}

.tabactive{
  padding: 10px 0;
  flex:1;
  display: flex;
  justify-content: center;
  font-size: 14px;
  color: #1A5E1E;
  font-weight: bold;
  border-top: 1px solid #DBDBDB;
  border-left: 1px solid #DBDBDB;
  border-right: 1px solid #DBDBDB;
}


.tab-large{
  width: 100px;
  display: flex;
  justify-content: center;
  color: #666666;
  border-bottom: 1px solid #DBDBDB;
  padding: 10px 0;
}

.tabactive-large{
  width: 100px;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  font-size: 14px;
  color: #1A5E1E;
  font-weight: bold;
  border-top: 1px solid #DBDBDB;
  border-left: 1px solid #DBDBDB;
  border-right: 1px solid #DBDBDB;
}

.book-info-img-large {
  width:200px;
}

.imgBox-large {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height:240px;
  overflow: hidden;
  border: 1px solid #dcdee2;
  position: relative;

  img {
    max-height: 188px;
    width: auto;
    max-width: 208px
  }

}
